# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [63]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [64]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [65]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [66]:
data2=data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'})
data2.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [67]:
products = pd.pivot_table(data,values='Quantity',index=['ProductName'],columns=['CustomerID'],fill_value=0)
products

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,1,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [68]:
distancias = squareform(pdist(products.T, 'euclidean'))
distancias[:5]

array([[  0.        ,  10.72380529,   9.64365076, ..., 197.94948851,
        218.8241303 , 203.79892051],
       [ 10.72380529,   0.        ,  10.67707825, ..., 197.34994299,
        218.62525014, 203.95342606],
       [  9.64365076,  10.67707825,   0.        , ..., 197.32460566,
        218.02981447, 203.80628057],
       [  9.89949494,  10.72380529,  10.34408043, ..., 197.32207175,
        218.14215549, 203.68112333],
       [ 10.44030651,  11.48912529,  10.19803903, ..., 197.46645285,
        217.92888748, 202.96058731]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [69]:
similarity = 1/(1+distancias) 
top5_similarity = pd.DataFrame(similarity, index = products.columns, columns = products.columns)

In [92]:
topcito=pd.DataFrame(distancias, index = products.columns, columns = products.columns)
topcin5=topcito[200].sort_values()[1:6]
topcin5

CustomerID
1920     9.591663
1072     9.797959
3317    10.099505
3253    10.099505
3909    10.148892
Name: 200, dtype: float64

In [70]:
top5=top5_similarity[200].sort_values(ascending=False)[1:6]
top5

CustomerID
1920    0.094414
1072    0.092610
3253    0.090094
3317    0.090094
3909    0.089695
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [80]:
cl_top5=list(top5.index)
records=data2.loc[cl_top5,:]
records

                                              Quantity
CustomerID ProductName
1072       Appetizer - Mini Egg Roll, Shrimp         1
           Appetizer - Sausage Rolls                 1
           Beans - Kidney, Canned                    1
           Beef - Montreal Smoked Brisket            1
           Beef - Striploin Aa                       1
...                                                ...
3909       Wine - Charddonnay Errazuriz              2
           Wine - Fume Blanc Fetzer                  1
           Wine - Magnotta, Merlot Sr Vqa            1
           Wine - Toasted Head                       1
           Wine - Valpolicella Masi                  1

[261 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [83]:
records.reset_index(drop=False,inplace=True)
pro2=records.groupby('ProductName').agg({'Quantity':'sum'})
pro2.sort_values('Quantity',ascending=False,inplace=True)
pro2

                              Quantity
ProductName
Soup - Campbells Bean Medley         3
Lamb - Ground                        3
Pomello                              3
Bay Leaf                             3
Pork - Kidney                        3
...                                ...
Kiwi                                 1
Knife Plastic - White                1
Lamb - Pieces, Diced                 1
Lambcasing                           1
Yeast Dry - Fermipan                 1

[217 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [91]:
matrix = pro2.merge(products[200],on='ProductName')
matrix=matrix[matrix[200]==0]
matrix.sort_values('Quantity',ascending=False,inplace=True)
recommend=list(matrix[:5].index)
recommend

['Soup - Campbells Bean Medley',
 'Bay Leaf',
 'Pork - Kidney',
 'Muffin - Carrot Individual Wrap',
 'Scampi Tail']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [94]:
recomendaciones={}
clientes=list(data['CustomerID'].unique())

In [96]:
for j in clientes:
    topcin5=topcito[j].sort_values()[1:6]
    topi5=list(topcin5.index)
    records=data2.loc[topi5,:]
    records.reset_index(drop=False,inplace=True)
    pro2=records.groupby('ProductName').agg({'Quantity':'sum'})
    pro2.sort_values('Quantity',ascending=False,inplace=True)
    matrix = pro2.merge(products[j],on='ProductName')
    matrix=matrix[matrix[j]==0]
    matrix.sort_values('Quantity',ascending=False,inplace=True)
    recomendaciones[j]=list(matrix[:5].index)

In [101]:
recomendaciones[33]

['Chocolate - Dark',
 'Bay Leaf',
 'Oranges - Navel, 72',
 'Wine - Ej Gallo Sierra Valley',
 'Pecan Raisin - Tarts']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [113]:
rec=pd.DataFrame(recomendaciones).T
rec.columns=['Recommendation1','Recommendation2','Recommendation3','Recommendation4','Recommendation5']
rec

,Recommendation1,Recommendation2,Recommendation3,Recommendation4,Recommendation5
61288,"Mushrooms - Black, Dried","Wine - Magnotta, Merlot Sr Vqa",Chicken - Soup Base,Wine - Chardonnay South,Milk - 1%
77352,Guinea Fowl,Grenadine,Ecolab - Mikroklene 4/4 L,"Oranges - Navel, 72","Coconut - Shredded, Sweet"
40094,"Water - Mineral, Natural","Oregano - Dry, Rubbed",Quiche Assorted,Pasta - Orecchiette,Beef - Inside Round
23548,Wanton Wrap,Banana Turning,Flavouring - Orange,Beer - Original Organic Lager,Puree - Passion Fruit
78981,Lettuce - Frisee,Longos - Chicken Wings,Pop Shoppe Cream Soda,Sprouts - Alfalfa,Beef - Inside Round
...,...,...,...,...,...
49005,Olive - Spread Tapenade,"Veal - Inside, Choice",Mayonnaise - Individual Pkg,Cumin - Whole,Sardines
41286,Veal - Inside,Bread Foccacia Whole,"Veal - Inside, Choice",Wasabi Powder,Rabbit - Whole
85878,Cookie - Dough Variety,"Beef - Ground, Extra Lean, Fresh",Muffin - Carrot Individual Wrap,Bread - Rye,Cheese - Camembert
68506,Pasta - Cheese / Spinach Bauletti,"Doilies - 5, Paper",Black Currants,Tea - Decaf Lipton,Cocoa Butter
3472,"Cheese - Boursin, Garlic / Herbs",Pork - Kidney,"Oranges - Navel, 72",Knife Plastic - White,Sausage - Liver

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [119]:
distancias2 = squareform(pdist(products.T, 'jaccard'))
topcito2=pd.DataFrame(distancias2, index = products.columns, columns = products.columns)

In [121]:
topcito2[:5]

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,0.934959,0.869159,0.899083,0.923729,0.919643,0.950413,0.945946,0.938596,0.927928,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
200,0.934959,0.000000,0.919355,0.927419,0.970588,0.953125,0.906250,0.960000,0.919355,0.909091,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
264,0.869159,0.919355,0.000000,0.930435,0.888889,0.940171,0.934426,0.965517,0.940171,0.948276,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
356,0.899083,0.927419,0.930435,0.000000,0.933884,0.948718,0.933884,0.908257,0.957627,0.947826,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
412,0.923729,0.970588,0.888889,0.933884,0.000000,0.934426,0.912000,0.904348,0.943089,0.915254,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [122]:
recomendaciones2={}
for j in clientes:
    topcin52=topcito2[j].sort_values()[1:6]
    topi52=list(topcin52.index)
    records2=data2.loc[topi52,:]
    records2.reset_index(drop=False,inplace=True)
    pro3=records2.groupby('ProductName').agg({'Quantity':'sum'})
    pro3.sort_values('Quantity',ascending=False,inplace=True)
    matrix2 = pro3.merge(products[j],on='ProductName')
    matrix2=matrix2[matrix2[j]==0]
    matrix2.sort_values('Quantity',ascending=False,inplace=True)
    recomendaciones2[j]=list(matrix2[:5].index)

In [124]:
recomendaciones2[33]

['Milk - 2%',
 'Wine - Charddonnay Errazuriz',
 'Guinea Fowl',
 'Bay Leaf',
 'Tea - Jasmin Green']